@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.logo{
    display: block;
    margin: auto;
    height: 120px;
    width: 120px;
}


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
	font-size: 16px;
	background-image: linear-gradient(
    rgb(11, 20, 63),
    rgb(22, 29, 102),
    rgb(39, 20, 150)
  );
	margin: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: rgb(255, 117, 4);
	color: rgb(255, 255, 255);
	border: 0;
	font-size: 17px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Chat Page */

.chat-container {
	max-width: 1100px;
	background: rgb(255, 255, 255);
	margin: 30px auto;
	overflow: hidden;
	
}

.chat-header {
	background: rgb(255, 115, 0);
	color: rgb(255, 255, 255);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: rgb(255, 115, 0);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
	height: 540px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	border: 2px solid rgb(255, 147, 7);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin-bottom: 15px;
	background-color: rgb(252, 204, 159);
	border-radius: 5px;
	overflow-wrap: break-word;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: rgb(255, 94, 0);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: rgb(15, 12, 2);
}

.chat-form-container {
	padding: 20px 30px;
	background-color:rgb(255, 115, 0) ;
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	height: 500px;
	color: rgb(255, 255, 255);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.join-header {
	text-align: center;
	padding: 20px;
	background-image: linear-gradient(
		rgb(255, 115, 0),

		gold
	);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.join-main {
	padding: 30px 40px;
	border-radius: 5px;
	border: 4px solid rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.103);
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}
h1 {
	margin-top: 12px;
	font-size: 30px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	color: bisque;
  }
  h2 {
	margin-top: 12px;
	font-size: 30px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	color: rgb(240, 206, 15);
  }
  .footer-container {
	background-color: rgb(19, 18, 66);
  }
  .footer-image{
	display: block;
	margin:auto;
	height: 220px;
	width: 300px;
  }
